:root {
    --bg-color: rgb(248, 248, 248);
    --element-color: white;
    --elem-active: rgba(0, 0, 0, 0.055);
    --element2-color: rgb(231, 231, 231);
    --text-color: #0B0C0C;
    --text-smol: #4d4d4d;
    --divider-color: #dddddd;
    --modal-color: whitesmoke;
    --modal-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    --elem-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
    --menu-shadow: 0 0 5px rgba(0,0,0,.25);
    --theme-gradient: linear-gradient(to top left, #34e89e, #0f3443);
    --error-color: rgb(255, 212, 195);
    --link-color: #00aa80;
    --theme-color: #1CAA53;
}