* {
    font-family: Helvetica, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.link, #credits a {
    color: var(--link-color);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --theme-5: #88D498;
    
    --color-light: #DCE0D9;
    
    --vh: 1vh;
    --vh-100: calc(var(--vh) * 100);
}
body, button, input {
    color: var(--text-color);
}
body {
    stroke: var(--text-color);
}

#app {
    position: relative;
    display: block;
    box-sizing: border-box;
}
#app_screen {
    padding-bottom: 60px;
}

#login_form {
    text-align: center;
    display: table;
    
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    height: var(--vh-100);
    width: 100%;
}
#login_error {
    background-color: var(--error-color);
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}
#login_wrap {
    background-color: var(--bg-color);
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}
#login_form h1 {
    margin-top: 0;
}
button, input {
    font-family: Helvetica, sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    font-size: 16px;
    -webkit-text-fill-color: var(--text-color);
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
}
#login_form input[type="text"], #login_form input[type="password"], #login_form input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid var(--divider-color);
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 8px;
    outline: none;
    color: var(--text-color);
    background-color: var(--element2-color);
    font-size: 16px;
}
#login_form input[type="submit"] {
    background-color: #199649;
    border: none;
    /*color: rgb(240, 255, 249);*/
    color:white;
}

#school_section {
    background-color: #2E2D2E;
    padding: 5px 20px;
    border-radius: 15px;
}
#school_section input[type="text"]{
    background-color: rgb(59, 59, 59);
    color: rgb(228, 228, 228);
    border: none;
}
#schools {
    width: 100%;
    margin: auto;
    height: 150px;
    overflow: auto;

    color: rgb(228, 228, 228);
}

.school {
    box-sizing: border-box;
    padding: 8px 15px;
    text-align: left;
}
.school i {
    color: #949494;
    font-style: normal;
}
.school input {
    display: none;
}
.school label {
    vertical-align: middle;
}
.school .checkmark {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #b3b3b3;
    display: inline-block;
    vertical-align: middle;
    transition: opacity .3s ease-out;
    color: green;
}
.school .checkmark i {
    color: inherit;
}
.school input:checked ~ .checkmark {
    background-color: #1CAA53;
}



#home {
    /*background-color: var(--color-dark);*/
    
    background: var(--theme-gradient);

}


#avg_screen {
    padding: 30px 0;

    width: 100%;
    /*height: 150px;*/
    display: block;
    /*background-color: rgba(232, 238, 243, 0.418);*/
    background: transparent;
    text-align: center;

    color: whitesmoke;

}
#avg_detail_cont {
    vertical-align: middle;
}
#avg_detail_cont svg {
    vertical-align: middle;
}
#avg_detail_cont i {
    vertical-align: bottom;
}
.section.avg svg {
    stroke: #8ED081;
}
.section.rank svg {
    stroke: #F2DC5D;
}
.section.rank i {
    color: #F2DC5D;
}
.section.avg {
    text-align: right;
}
.section.rank {
    text-align: left;
}
.section.rank a {
    color: inherit;
    text-decoration: none;
}

#ranks_container, #roundView_cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
}
#roundView h2 {
    text-align: center;
}
#roundView input[type="number"] {
    font-size: inherit;
    margin: 0;
    border: none;
    padding: 3px;
    padding-bottom: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--text-color);
}
#roundView input[type="number"]:invalid {
    color: rgb(190, 0, 0);
}
#roundView .example {
    font-size: 30px;
    text-align: center;
}

#ranks, #roundView {
    width: 100%;
    box-sizing: border-box;
    margin: 30px;
    padding: 20px;
    height: max-content;
    text-align: left;
    display: inline-block;
    border-radius: 15px;
    background-color: var(--modal-color);
    box-shadow: var(--modal-shadow);
    position: relative;
}
#ranks .rank {

}
#ranks .left {
    border-right: 1px solid var(--divider-color);
}

#ranks .left span, #ranks .right span {
    display: block;
    padding: 1.5px 0;
}
#ranks .left, #ranks .right {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 8px;
}
#ranks .left {
    text-align: right;
}
#ranks .right {
    text-align: left;
}

#ranks h2 {
    text-align: center;
    margin: 5px 0;
}
#ranks .close, #roundView .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#avg_detail_cont .section {
    
    vertical-align: middle;
    display: inline-block;
    width: 40%;

}
#avg_detail_cont .left {
    padding-top: 3px;
}
#avg_detail_cont .right, #avg_detail_cont .left {
    display: inline-block;
    vertical-align: middle;
}

.divider {
    width: 0;
    height: 30px;
    display: inline-block;
    border: 0.5px solid #cfcfcf;
    content: '';
    vertical-align: middle;
    margin: 0 10px;
}

#avg_detail_cont .big, #avg_detail_cont .small {
    display: block;
    width: max-content;
    margin: 0;
}
#avg_detail_cont .big {
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    
}
#avg_detail_cont .small {
    font-size: 13px;
    color: #cccccc;
}

circle {
    transition: stroke-dashoffset 0.35s, stroke 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    /*stroke: #00cc66;*/

}
#circle_container {
    
    
    width: 120px;
    height: 120px;
    position: relative;
    display: inline-block;
}
#circle_container #total_avg, #circle_container #avg_circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
#total_avg_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: max-content;
    font-size: 30px;
}


#recent h1 .left, #recent h1 .right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
#recent h1 .right {
    text-align: right;
}
#recent h1 .right svg {
    vertical-align: middle;
    height: 29px;
}
#recent h1 {
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    
    color: var(--text-color);
    background-color: rgb(170, 255, 204);
    background: transparent;
    box-sizing: border-box;
    /*color: var(--color-light);*/
    
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    
    margin-top: 0px;
    margin: 10px 15px;
    font-size: 25px;
    /*box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);*/
}
#recentsList {
    padding: 0 0;
    box-sizing: border-box;
}

.gradeLike .left, .gradeLike .right{
    display: inline-block;
    vertical-align: middle;
    white-space: initial;
}
.gradeLike .right {
    width: 80%;
    width: calc(calc(100% - 43px) - 80px);
}
.gradeLike .left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 28px;
    font-weight: bold;

}
[data-grade="5"] {
    color: #00cc66;
}
[data-grade="4"] {
    color: #009999;
}
[data-grade="3"] {
    color: #ffcc00;
}
[data-grade="2"] {
    color: #ff6600;
}
[data-grade="1"] {
    color: #b32400;
}
[data-grade="#"] {
    color: #669999;
}


.absence svg {
    stroke: #009999;
}
.absence.justified svg {
    stroke: #00af58;
}


.gradeLike .header {
    font-weight: bold;
    margin-bottom: 3px;
}
.gradeLike .date {
    position: absolute;
    right: 10px;
    width: 80px;
    top: 0;
    bottom: 0;
    height: min-content;
    vertical-align: middle;
    margin: auto;
    text-align: right;
    
}
.recent .date {
    color: var(--text-smol);
}
.gradeLike .date b {
    font-weight: normal;
}
.gradeLike .date i {
    font-style: normal;
    font-size: 15px;
}

.gradeLike .date .relative {
    position: relative;
    display: inline-block;
    width: 100%;
}

.gradeLike .right .bottom, .absence p {
    color: var(--text-smol);
}


#subjects {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    
}
body, .list, #recent, .fullpage_modal {
    background-color: var(--bg-color);
}
.list, #recent, #subject_grades {
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
}
#recentModeSelector {
    position: relative;
}
#recentModeSelector svg, #recentModeSelector a {
    vertical-align: middle;
}
#recentModeOptions {
    position: absolute;
    left: 0;
    top: 120%;
    z-index: 5;
    width: 100%;
    white-space: normal;
    background-color: var(--modal-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.255);
    padding: 8px;
    border-radius: 15px;
    border-top-left-radius: 0;
}
#recentModeOptions button {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
}
#recent {
    min-height: 100%;
}
.recent {    
    padding: 10px 12px;
    padding-left: 5px;
    
    

    white-space: nowrap;
    overflow-x: auto;

    position: relative;

    transition: background-color 0.3s ease-out;
}
.lItem, .recent {
    list-style: none;
    width: 100%;
    font-size: 16px;
    margin: 8px 0;
    box-sizing: border-box;

    background-color: var(--element-color);
    
    box-shadow: var(--elem-shadow);
    border-radius: 8px;
    /*border: 1px solid #e6e6e6;*/
    transition: background-color 0.3s ease-out;
}
.lItem {
    padding: 8px 12px;
}
.lItem:hover, .recent:hover {
    background-color: var(--elem-active);
}
.subject_header {
    white-space: nowrap;
}
.subject_header .left, .subject_header .right {
    
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.subject_header .left {
    width: 80%;
    width: calc(100% - 85px);
    white-space: initial;
}
.subject_header .right {
    width: 80px;
    text-align: right;
    vertical-align: top;
}
.subject_header .right * {
    vertical-align: middle;
}
.subject_header .right svg {
    stroke: rgb(218, 134, 95);    
}

.subject_header .right svg.up {
    stroke: #1CAA53;    
}

.subject .tinygrade:first-child {
    margin-left: 0;
}
.tinygrade {
    margin-left: 6px;
    display: inline-block;
    color: var(--text-smol);
}

.subject_avg {
    
}

#menu.loading_data {
    transform: translateY(-4px);
}
#loading_data, #loading_percent {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 4px;
    content: '';
    display: block;
}
#loading_data {
    bottom: -4px;
    background-color: var(--element-color);
}
#loading_percent {
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #36ea6c, #277481);
    background-size: 400% 400%;

    --loaded: 0%;

    transform: translateX(calc(-100% + var(--loaded)));
    animation: loading_data 2s ease infinite;
}
@keyframes loading_data {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.keyboard #menu {
    display: none;
}
#menu {
    display: table;
    text-align: center;


    background-color: var(--element-color);
    /*border-top: 1px solid #e6e6e6;*/
    position: fixed;
    
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: var(--menu-shadow);
    

    box-sizing: border-box;
    padding: 0 0px;
    
    z-index: 9000;
}
#menu button.active svg {
    stroke: #1CAA53;
}
#menu button.active b {
    color: #1CAA53;
}
#menu button.active i {
    /*color: #66ceab;*/
    color: #1CAA53;

}
#menu button svg {
    /*stroke: #2A2D34;*/
    stroke: var(--text-color);
}
#menu button b {
    color: var(--text-color);
    display: block;
    font-weight: bold;
    font-size: 12px;
}
#menu button i {
    font-size: 28px;
    /*color: #c0c0c0;*/
    /*color: #1D1B27;*/
    /*color: #565663;*/
    color: #2A2D34;
}
#menu button {
    display:table-cell;
    text-align:center;
    /*display: inline-block;*/
    width: 25%;
    padding: 8px 15px;
    
    box-sizing: border-box;
    vertical-align: middle;
    background: transparent;
    border: none;
    outline: none;
}

.feather {
    width: 24px;
    height: 24px;
    stroke: var(--text-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}


#loading_screen {
    width: 100vw;
    height: 100vh;
    height: var(--vh-100);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: #7fffd4;
    z-index: 9001;
}
#loading_screen .lds-ring {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*loader*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



#note_details {

}
#note_details h1 {
    text-align: center;
    font-size: 32px;
    margin: 26px 0;
    padding: 0 20px;
}
#note_details p {
    word-wrap: break-word;
    text-align: left;
    padding: 0 20px;
}
#note_details .signoff {
    display: block;
    text-align: right;
    font-style: italic;
    padding: 0 20px;
    color: var(--text-smol);
}

.fullpage_modal {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);*/
    
    display: block;
    text-align: center;
    z-index: 8999;
    overflow-y: auto;
    padding-bottom: 80px;
    box-sizing: border-box;
}
#subject_grades {
    text-align: initial;
}

#subject_details h1 {
    margin-top: 80px;
    
}
#subj_detail_section {
    width: 100%;
    white-space: nowrap;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
}
#avg_graph .chart-container {
    width: 100%;
    height: 100%;
    position: relative;
    
}
#avg_graph .chart-container canvas {
    display: inline-block;
    vertical-align: middle;
}
#avg_graph, #avg_calc {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    scroll-snap-align: center;
    vertical-align: middle;
}
#avg_graph {
    margin-right: 10%;
    height: 200px;
}
#avg_calc .type .avgtitle {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    text-align: left;
}
#avg_calc .type .num {
    display: inline-block;
    width: 30px;
    text-align: left;
}

#avg_calc .avg {
    font-size: 19px;
    margin-bottom: 25px;
}

.avg_calc_grade {
    padding: 3px;
    box-sizing: border-box;
}

.avg_calc_grade .gradename {
    display: inline-block;
    text-align: left;
    width: 50%;
    font-size: 19px;
}
.avg_calc_grade .gradecount {
    width: 40px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
}
.avg_calc_grade button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #2A2D34;
    
    position: relative;
    vertical-align: middle;
}
.avg_calc_grade button svg {
    stroke: rgb(184, 189, 181);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 22px;
    height: 22px;
}

.halfyr_item {
    position: relative;
    font-size: 18px;
    padding: 15px 0px;
}
.halfyr_item .mid {
    margin: 0 45px;
    text-align: center;
}
.halfyr_item .left, .halfyr_item .right {
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    margin: auto 18px;
    top: 0;
    bottom: 0;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.halfyr_item .D {
    font-size: 13px;
    vertical-align: top;
    position: absolute;
}
.halfyr_item .grade {

}
.halfyr_item .left {
    left: 0;
}
.halfyr_item .right {
    right: 0;
}
#halfyr h1 h2 {
    font-size: 25px;
}
#halfyr h1 h2, #halfyr h1 p {
    margin: 0;
    padding: 0;
}
#halfyr h1 p {
    font-size: 18px;
    color: var(--text-smol);
}
#halfyr h1 span {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 20px 20px;
    padding-bottom: 0;
    text-align: center;
}
#halfyr h1 .right {
    position: absolute;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--element2-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00cc99;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* Rounded sliders */
.slider {
    border-radius: 26px;
}

.slider:before {
border-radius: 50%;
}

#credits {
    background-color: var(--element2-color);
    background-color: var(--modal-color);
    box-shadow: var(--modal-shadow);
    margin: 0 20px;
    margin-top: 60px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
#credits h2 {
    margin-bottom: 13px;
}
#credits img {
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
}

#credits h2 img, #credits h2 span {
    display: inline-block;
    vertical-align: middle;
}
#credits p {
    margin: 0;
    margin-top: 2px;
}

#updateInfo p {
    color: var(--text-smol);
    text-align: center;
    padding: 0 20px;
}
#absenceCount {
    padding: 10px 8px;
    box-sizing: border-box;
}
#absenceCount p {
    margin: 4px 0;
}