* {
    font-family: Helvetica, sans-serif;
}
html, body, #app {
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overscroll-behavior-y: none;
}
#pageviewer {
    flex: 1;
    overflow-y: auto;
    position: relative;
}
#app {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: hidden;
}
#menu {
    flex:0;
    position: relative;
}

.link, #credits a {
    color: var(--link-color);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --theme-5: #88D498;
    
    --color-light: #DCE0D9;
    
    --vh: 1vh;
    --vh-100: calc(var(--vh) * 100);
}
body, button, input {
    color: var(--text-color);
}
body {
    stroke: var(--text-color);
}

#app_screen {
    padding-bottom: 60px;
}



#home {
    /*background-color: var(--color-dark);*/
    
    background: var(--theme-gradient);

}


#avg_screen {
    padding: 30px 0;

    width: 100%;
    height: 220px;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(232, 238, 243, 0.418);*/
    background: transparent;
    text-align: center;

    color: whitesmoke;

}
#avg_screen .inner {
    display: block;
    width: 100%;
}
#avg_detail_cont {
    vertical-align: middle;
}
#avg_detail_cont svg {
    vertical-align: middle;
}
#avg_detail_cont i {
    vertical-align: bottom;
}
.section.avg svg {
    stroke: #8ED081;
}
.section.rank svg {
    stroke: #F2DC5D;
}
.section.rank i {
    color: #F2DC5D;
}
.section.avg {
    text-align: right;
}
.section.rank {
    text-align: left;
}
.section.rank a {
    color: inherit;
    text-decoration: none;
}

#ranks_container, #roundView_cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
}
#roundView h2 {
    text-align: center;
}
#roundView input[type="number"] {
    font-size: inherit;
    margin: 0;
    border: none;
    padding: 3px;
    padding-bottom: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--text-color);
}
#roundView input[type="number"]:invalid {
    color: rgb(190, 0, 0);
}
#roundView .example {
    font-size: 30px;
    text-align: center;
}

#roundView {
    width: 100%;
    box-sizing: border-box;
    margin: 30px;
    padding: 20px;
    height: max-content;
    text-align: left;
    display: inline-block;
    border-radius: 15px;
    background-color: var(--modal-color);
    box-shadow: var(--modal-shadow);
    position: relative;
}
#ranks .rank {

}
#ranks .left {
    border-right: 1px solid var(--divider-color);
}

#ranks .left span, #ranks .right span {
    display: block;
    padding: 1.5px 0;
}
#ranks .left, #ranks .right {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 8px;
}
#ranks .left {
    text-align: right;
}
#ranks .right {
    text-align: left;
}

#ranks h2 {
    text-align: center;
    margin: 5px 0;
}
#ranks .close, #roundView .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#avg_detail_cont .section {
    
    vertical-align: middle;
    display: inline-block;
    width: 40%;

}
#avg_detail_cont .left {
    padding-top: 3px;
}
#avg_detail_cont .right, #avg_detail_cont .left {
    display: inline-block;
    vertical-align: middle;
}

.divider {
    width: 0;
    height: 30px;
    display: inline-block;
    border: 0.5px solid #cfcfcf;
    content: '';
    vertical-align: middle;
    margin: 0 10px;
}

#avg_detail_cont .big, #avg_detail_cont .small {
    display: block;
    width: max-content;
    margin: 0;
}
#avg_detail_cont .big {
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    
}
#avg_detail_cont .small {
    font-size: 13px;
    color: #cccccc;
}

circle {
    transition: stroke-dashoffset 0.35s, stroke 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    /*stroke: #00cc66;*/

}
#circle_container {
    
    
    width: 120px;
    height: 120px;
    position: relative;
    display: inline-block;
}
#circle_container #total_avg, #circle_container #avg_circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
#total_avg_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: max-content;
    font-size: 30px;
}


#recent h1 .left, #recent h1 .right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
#recent h1 .right {
    text-align: right;
}
#recent h1 .right svg {
    vertical-align: middle;
    height: 29px;
}
#recent h1 {
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    
    color: var(--text-color);
    background-color: rgb(170, 255, 204);
    background: transparent;
    box-sizing: border-box;
    /*color: var(--color-light);*/
    
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    
    margin-top: 0px;
    margin: 10px 15px;
    font-size: 25px;
    /*box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);*/
}
#recentsList {
    padding: 0 0;
    box-sizing: border-box;
}

.gradeLike .left, .gradeLike .right{
    display: inline-block;
    vertical-align: middle;
    white-space: initial;
}
.gradeLike .right {
    width: 80%;
    width: calc(calc(100% - 43px) - 80px);
}
.gradeLike .left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 28px;
    font-weight: bold;

}
[data-state="5"] .left, [data-grade="5"] {
    color: #00cc66;
}
[data-state="4"] .left, [data-grade="4"] {
    color: #009999;
}
[data-state="3"] .left, [data-grade="3"] {
    color: #ffcc00;
}
[data-state="2"] .left, [data-grade="2"] {
    color: #ff6600;
}
[data-state="1"] .left, [data-grade="1"] {
    color: #b32400;
}
[data-state="#"] .left, [data-grade="#"] {
    color: #669999;
}


[data-item-type="absence"] svg {
    stroke: #009999;
}
[data-item-type="absence"][data-state="true"] svg {
    stroke: #00af58;
}


.gradeLike .header {
    font-weight: bold;
    margin-bottom: 3px;
}
.gradeLike .date {
    position: absolute;
    right: 10px;
    width: 80px;
    top: 0;
    bottom: 0;
    height: min-content;
    vertical-align: middle;
    margin: auto;
    text-align: right;
    
}
.recent .date {
    color: var(--text-smol);
}
.gradeLike .date b {
    font-weight: normal;
}
.gradeLike .date i {
    font-style: normal;
    font-size: 15px;
}

.gradeLike .date .relative {
    position: relative;
    display: inline-block;
    width: 100%;
}

.gradeLike .right .bottom, .absence p {
    color: var(--text-smol);
}


#subjects {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
body, .list, #recent, .fullpage_modal {
    background-color: var(--bg-color);
}
.list, #subject_grades {
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
}
#recentModeSelector {
    position: relative;
}
#recentModeSelector svg, #recentModeSelector a {
    vertical-align: middle;
}
#recentModeOptions {
    position: absolute;
    left: 0;
    top: 120%;
    z-index: 5;
    width: 100%;
    white-space: normal;
    background-color: var(--modal-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.255);
    padding: 8px;
    border-radius: 15px;
    border-top-left-radius: 0;
}
#recentModeOptions button {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
}
#recent {
    min-height: 100%;
}
.recent {    
    padding: 10px 12px;
    padding-left: 5px;
    
    

    white-space: nowrap;
    overflow-x: auto;

    position: relative;

    transition: background-color 0.3s ease-out;
}
.lItem, .recent {
    list-style: none;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;

    background-color: var(--element-color);
    
    box-shadow: var(--elem-shadow);
    border-radius: 8px;
    /*border: 1px solid #e6e6e6;*/
    transition: background-color 0.3s ease-out;
}
.lItem {
    padding: 8px 12px;
    margin: 8px 0;
}
.lItem:hover, .hover .recent {
    background-color: var(--elem-active);
}
.subject_header {
    white-space: nowrap;
}
.subject_header .left, .subject_header .right {
    
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.subject_header .left {
    width: 80%;
    width: calc(100% - 85px);
    white-space: initial;
}
.subject_header .right {
    width: 80px;
    text-align: right;
    vertical-align: top;
}
.subject_header .right * {
    vertical-align: middle;
}
.subject_header .right svg {
    stroke: rgb(218, 134, 95);    
}

.subject_header .right svg.up {
    stroke: #1CAA53;    
}

.subject_grades {
    color: var(--text-smol);
}

.subject_avg {
    
}

.feather {
    width: 24px;
    height: 24px;
    stroke: var(--text-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}


#loading_screen {
    width: 100vw;
    height: 100vh;
    height: var(--vh-100);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: #7fffd4;
    z-index: 9001;
}
#loading_screen .lds-ring {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*loader*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



#note_details {

}
#note_details h1 {
    text-align: center;
    font-size: 32px;
    margin: 26px 0;
    padding: 0 20px;
}
#note_details p {
    word-wrap: break-word;
    text-align: left;
    padding: 0 20px;
}
#note_details .signoff {
    display: block;
    text-align: right;
    font-style: italic;
    padding: 0 20px;
    color: var(--text-smol);
}

.fullpage_modal {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);*/
    
    display: block;
    text-align: center;
    z-index: 8999;
    overflow-y: auto;
    padding-bottom: 80px;
    box-sizing: border-box;
}



#updateInfo p {
    color: var(--text-smol);
    text-align: center;
    padding: 0 20px;
}
#absenceCount {
    padding: 10px 8px;
    box-sizing: border-box;
}
#absenceCount p {
    margin: 4px 0;
}